<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="mx-5 has-text-black">

    <h3>MVC Spring</h3>
    <p th:text="${springMessage}"></p>
    <div id="data-collection" class="container">

        <!-- Message -->

        <div class="notification is-primary is-light" th:if="${success}" style="width: 300px;">
            <button class="delete"></button>
             <p th:text="${success}"></p>
        </div>


        <div id="add-employee" class="mt-4" style="width: 30%;">
            <form th:action="@{/employee/save}" method="post" th:object="${employeeForm}">

                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                        <input class="input" type="text" th:field="*{firstName}">
                        <input type="hidden" th:field="*{id}">
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                </div>

                <div class="field">
                    <label class="label">last Name</label>
                    <div class="control">
                        <input class="input" type="text" th:field="*{lastName}">
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                </div>

                <div class="field">
                    <label class="label">Contact</label>
                    <div class="control">
                        <input class="input" type="text" th:field="*{contact}">
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></p>
                </div>

                <div class="field">
                    <label class="label">Address</label>
                    <div class="control">
                        <input class="input" type="text" th:field="*{address}">
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>

                <button type="submit" class="button is-primary">Save</button>

            </form>
        </div>


    </div>

    <script src="script.js"></script>
</body>
</html>