<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

    <h3>MVC Spring</h3>
    <p th:text="${springMessage}"></p>
    <div id="container" th:object="${employee}">
        <label>First Name : </label>
        <span th:text="*{firstName}"></span><br/>
        <label>Last Name : </label>
        <span th:text="*{lastName}"></span><br/>
        <label>Contact : </label>
        <span th:text="*{contact}"></span><br/>
        <label>Address : </label>
        <span th:text="*{address}"></span><br/>
    </div>

</body>
</html>