<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

  <h3 th:if="${success}" th:text="${success}"></h3>

  <section>
    <form th:action="@{/register/save}" method="post" th:object="${userForm}">
      <input type="text" placeholder="username" th:field="*{username}">
      <br>
      <p class="help is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
      <input type="email" placeholder="email" th:field="*{email}">
      <br>
      <p class="help is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
      <input type="password" placeholder="password" th:field="*{password}">
      <br>
      <p class="help is-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

      <button type="submit">Save</button>
    </form>
  </section>  

</body>
</html>